@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto"),
        local("Roboto-Regular"),
        url('./fonts/Roboto-Regular.ttf') format("ttf");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Roboto"),
        local("Roboto-Regular"),
        url('./fonts/Roboto-Regular.ttf') format("ttf");
}


body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
}


@media (max-width: 992px) {
    .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 540px) {
    .container {
        width: 100%;
        display: block;
        padding: 0 75px;
    }

}
