.info {
    padding: 15px 70px;
}

.info-feedback {
    max-width: 702px;
}

.info-title {
    color: #121212;
    font-weight: 500;
    font-size: 44px;
    line-height: 56px;
}

.info-city {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    padding-top: 20px;
}


.developer {
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
    background-color: #121212;
    padding: 12px 20px;
}

.resume {
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFFFFF;
}

.photo__bg {
    max-width: 100%;
}

.info-city {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
}

.info-media__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
}

.info-stack {
    color: #121212;
    font-size: 32px;
    line-height: 37px;
    font-weight: 500;
    padding: 50px 0 20px;
}

.info-stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.info-stack__item {
    font-size: 32px;
    line-height: 37px;
    font-weight: 500;
    background-color: #414141;
    padding: 14px 55px;
    color: #FFFFFF;
    border-radius: 45px;
}

.info-stack__item:hover {
    opacity: 0.5;
    cursor: default;
}

h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.info-about-me {
    margin-top: 60px;
    max-width: 1024px;
}


.info-about-me p {
    font-size: 32px;
    line-height: 38px;
    text-indent: 30px;
    padding-top: 10px;
}

.info__input {
    display: flex;
    padding-top: 50px;
    gap: 25px;
    font-size: 32px;
}

input::placeholder {
    color: #121212;
}

.info__input__item {
    font-size: 32px;
    font-weight: 500;
    border: 1px solid #121212;
    border-radius: 11px;
    padding: 14px 16px;
    width: 50%;
}

.info__button {
    color: #FFFFFF;
    background-color: #121212;
    width: 100%;
    height: 66px;
    display: block;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 11px;
    font-size: 32px;
    font-weight: 500;
}

.info__button:hover {
    background-color: #414141;
}

.info__button:active {
    background-color: #1E1E1E;
}

.whatsapp:hover,
.instagram:hover,
.vk:hover,
.telegram:hover,
.linkedin:hover,
.github:hover {
    opacity: 0.5;
}

@media (max-width: 992px) {
    .info {
        padding: 15px 40px;
    }

    .info-title {
        font-size: 32px;
        line-height: 38px;
    }

    .developer {
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
    }

    .info-city {
        font-size: 20px;
        line-height: 23px;
    }

    .resume {
        width: 37%;
        justify-content: end;
    }

    .info-stack-list {
        gap: 20px;
    }

    .info-stack {
        font-size: 24px;
        padding: 30px 0 20px;
    }

    .info-stack__item {
        font-size: 24px;
        padding: 10px 45px;
    }

    .info-about-me {
        line-height: 23px;
        font-size: 20px;
        padding-top: 30px;
    }

    .info-about-me h2 {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .info-about-me p {
        font-size: 20px;
        line-height: 23px;
    }

    .info__input {
        padding-top: 20px;
    }

    .info__input__item {
        font-size: 24px;
        padding: 10px 16px;
    }

    .info__button {
        font-size: 24px;
        margin-top: 20px;
    }

    .info-media__list {
        padding-top: 30px;
    }

}


@media (max-width: 540px) {

    .resume {
        width: 100%;
    }

    .info {
        padding: 15px 0;
    }

    .info-feedback {
        max-width: unset;
    }

    .developer {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    .info-city {
        font-size: 18px;
        padding-top: 10px;
    }

    .info-media__list {
        padding-top: 16px;
    }

    .info-media__list>img {
        width: 32px;
        height: 32px;
    }

    .info-stack {
        font-size: 20px;
        padding: 16px 0 10px;
        font-weight: 500;
    }

    .info-stack-list {
        gap: 10px 20px;
    }

    .info-stack__item {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
    }

    .info-about-me {
        line-height: 18px;
        font-size: 16px;
        padding-top: 16px;
    }

    .info-about-me h2 {
        font-size: 20px;
        line-height: 19px;
    }

    .info-about-me p {
        font-size: 19px;
        line-height: 23px;
    }

    .info__input {
        padding-top: 16px;
    }

    .info__input__item {
        font-size: 16px;
        padding: 8px 16px;
    }

    .info__button {
        font-size: 16px;
        margin-top: 16px;
        height: 35px;
    }
}